<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="shortcut icon" href="img/deal-logo.png" type="image/x-icon">

    <title>Deals-try</title>
  </head>
  <body>
  
    <section id="header">
      <a href="#" class="logo"> <h1 clss="logo"style="color:black">DEALS-4U</h1></a>
      <div>
        <ul id="navbar">

          <form action="/base" method="get">
            <button type="submit" style="position: absolute;left: 47.5em;top: 1.3em;border:none;background-color: rgb(228, 219, 207);"><img class="login-img" src="img/deal-logo.png"></button>
            <p style="position: absolute;left: 47em;top: 3em;">Home</p>
          </form>

          <form action="/profile" method="get">
            <button type="submit" style="position: absolute;left: 52.5em;top: 1.3em;border:none;background-color: rgb(228, 219, 207);"><img class="profile-img" src="img/profile.png"></button>
            <p style="position: absolute;left: 52em;top: 3em;">Profile</p>
          </form>
          <!-- <li><a class="navbar-items active" href="index.html">Profile</a></li> -->
          <!-- <a href="index.html"><img class="profile-img" src="img/profile.png"></a> -->
          <form action="/account" method="get">
            <button type="submit" style="position: absolute;left: 58.3em; top: 1.3em;border:none;background-color: rgb(228, 219, 207);"><img class="account-img" src="img/account.png"></button>
            <p style="position: absolute;left: 58em;top: 3em;">Account</p>
          </form>
          <!-- <li><a class="navbar-items" href="account.html">Account</a></li>
          <a href="account.html"><img class="account-img" src="img/account.png"></a> -->
          <form action="/bag" method="get">
            <button type="submit" style="position: absolute;left: 63.7em;top: 1.3em;border: none;background-color: rgb(228, 219, 207);"><img class="bag-img" src="img/shopping-bag.png" ></button>
            <p style="position: absolute;left: 64em;top: 3em;">Bag</p>
          </form>
          <!-- <li><a class="navbar-items" href="bag.html">bag</a></li>
          <a href="bag.html"><img class="bag-img" src="img/shopping-bag.png" ></a> -->
          <form action="/whislist" method="get">
            <button type="submit" style="position: absolute;left: 68.5em;top: 1.3em;border:none;background-color: rgb(228, 219, 207);"><img class="whislist-img" src="img/wishlist.png"></button>
            <p style="position: absolute;left: 68em;top: 3em;">wishlist</p>
          </form>
          <!-- <li><a class="navbar-items" href="whislist.html">whislist</a></li>
          <a href="whislist.html"><img class="whislist-img" src="img/wishlist.png"></a> -->
          <form action="/register" method="get">
            <button type="submit" style="width:fit-content;position:absolute;left: 74em;top: 1.3em;right:2em;border:none;background-color: rgb(228, 219, 207);"><img class="signup-img" src="img/signup.png"></button>
            <p style="position: absolute;left: 73em;top: 3em;">Signup</p>
          </form>
          <!-- <li><a class="navbar-items" href="signup.html">SignUp</a></li>
          <a href="signup.html"><img class="signup-img" src="img/signup.png"></a> -->
          <form action="/login" method="get">
            <button type="submit" style="position: absolute;left: 79.5em;top: 1.3em;border:none;background-color: rgb(228, 219, 207);"><img class="login-img" src="img/login.png"></button>
            <p style="position: absolute;left: 79em;top: 3em;">Login</p>
          </form>
          <!-- <li><a class="navbar-items" href="login.html">LogIn</a></li>
          <a href="login.html"><img class="login-img" src="img/login.png"></a> -->
        </ul>
      </div>
    </section>
    <section class="footwearheader">
      <h4 style="text-align: center; font-weight: 400; margin-top: 2em;" class="fontfamily">Most Loved Brands mens</h4>
      <div id=women-2 class="padder" style="display: flex;" >
        <img class="padder3" src="https://sslimages.shoppersstop.com/sys-master/root/h8e/hef/29285018206238/Puma-web---foot-weares-newxcarousel_20230204.jpg" alt="" style="margin-left: -0.3em;">
        <img  class="padder3" src="https://sslimages.shoppersstop.com/sys-master/root/hc3/h1d/29295071526942/Sketchers-web6-2-2023ngrktio5y.jpg" alt="">
        <!-- <img class="padder2" src="https://www.kindpng.com/picc/m/782-7825277_best-brands-of-shoes-hd-png-download.png" alt=""> -->
        <img class="padder3" src="https://sslimages.shoppersstop.com/sys-master/root/h5d/hf6/29285018402846/J_J-web---foot-weares-newxcarousel_20230204jio.jpg" alt="">
        <img class="padder3" src="https://sslimages.shoppersstop.com/sys-master/root/h4d/hf3/29285018337310/Adidas-web---foot-weares-newxcarousel_20230204.jpg" alt="">
      </div>


      <h4 style="text-align: center; margin-top: 2em; font-weight: 400;" class="fontfamily" > Footwears for mens</h4>
      <div id="menfoot-1" class="padder" style="display: flex;">
        <img class="padder4" src="https://sslimages.shoppersstop.com/sys-master/images/hf5/hdb/28079754379294/ADGW6724_GREY.jpg_230Wx334H" alt="" style="margin-left: 6em;">
        <img class="padder4" src="https://sslimages.shoppersstop.com/sys-master/images/hd1/h63/28079778168862/ADGW4074_GREY.jpg_230Wx334H"alt="">
        <img class="padder4" src="https://sslimages.shoppersstop.com/sys-master/images/h55/hb4/28786473107486/FMADGA1092_BLUE.jpg_230Wx334H" alt="">
        <img class="padder4" src="https://sslimages.shoppersstop.com/sys-master/images/h6c/ha8/28075825496094/ADGY1685_BLUE.jpg_230Wx334H" alt="">
      </div>

      <h4 style="text-align: center; font-weight: 400;"  class="fontfamily">Most Loved Brands women</h4>
      <div id=women-2 class="padder" style="display: flex;" >
        <img class="padder3" src="https://sslimages.shoppersstop.com/sys-master/root/h57/h6f/29303754194974/Lemon-_-Pepper-Small-App_3486783593jfdjdd.jpg" alt="">
        <img  class="padder3" src="https://sslimages.shoppersstop.com/sys-master/root/h46/h6c/29303754260510/Estatos-Small-App_50498658739399hghd.jpg" alt="">
        <img class="padder3" src="https://sslimages.shoppersstop.com/sys-master/root/h47/h69/29303754326046/Modare-Small-App_497684jugdjdkdk.jpg" alt="">
        <img class="padder3" src="https://sslimages.shoppersstop.com/sys-master/root/h87/h68/29303754391582/Monrow-Small-App_4763939djjfgjkddkdoi.jpg" alt="">
      </div>


      <h4 style="text-align: center; margin-top: 2em; font-weight: 400;" class="fontfamily" > Footwears for womens</h4>
      <div id="womenfoot-1" class="padder" style="display: flex;">
        <img class="padder5" src="https://sslimages.shoppersstop.com/sys-master/images/h3e/hc7/27339734679582/FWHC122945_METAL_GREY.jpg_230Wx334H" alt="" style="margin-left: 6em;">
        <img class="padder5" src="https://sslimages.shoppersstop.com/sys-master/images/h63/h09/16648317829150/FW-LP5888-GG_GUNMETAL_GREY.jpg_230Wx334H" alt="">
        <img class="padder5" src="https://sslimages.shoppersstop.com/sys-master/images/h98/hd9/16648296005662/FW-LP5879-CM_CREAM.jpg_230Wx334H" alt="">
        <img class="padder5" src="https://sslimages.shoppersstop.com/sys-master/images/hf7/h65/16648290238494/FW-LP5879-OR_ORANGE.jpg_230Wx334H" alt="">
        <img class="padder5" src="https://sslimages.shoppersstop.com/sys-master/images/hdd/h72/27164282388510/FWHC122965_BLACK.jpg_230Wx334H" alt="">
      </div>

      
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/809c7e4560.js" crossorigin="anonymous"></script>
</body>
</html>