<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="shortcut icon" href="img/deal-logo.png" type="image/x-icon">

    <title>Deals-try</title>
  </head>
  <body>
  
    <section id="header">
      <a href="#" class="logo"> <h1 clss="logo"style="color:black">DEALS-4U</h1></a>
      <div>
        <ul id="navbar">

          <form action="/base" method="get">
            <button type="submit" style="position: absolute;left: 47.5em;top: 1.3em;border:none;background-color: rgb(228, 219, 207);"><img class="login-img" src="img/deal-logo.png"></button>
            <p style="position: absolute;left: 47em;top: 3em;">Home</p>
          </form>

          <form action="/profile" method="get">
            <button type="submit" style="position: absolute;left: 52.5em;top: 1.3em;border:none;background-color: rgb(228, 219, 207);"><img class="profile-img" src="img/profile.png"></button>
            <p style="position: absolute;left: 52em;top: 3em;">Profile</p>
          </form>
          <!-- <li><a class="navbar-items active" href="index.html">Profile</a></li> -->
          <!-- <a href="index.html"><img class="profile-img" src="img/profile.png"></a> -->
          <form action="/account" method="get">
            <button type="submit" style="position: absolute;left: 58.3em; top: 1.3em;border:none;background-color: rgb(228, 219, 207);"><img class="account-img" src="img/account.png"></button>
            <p style="position: absolute;left: 58em;top: 3em;">Account</p>
          </form>
          <!-- <li><a class="navbar-items" href="account.html">Account</a></li>
          <a href="account.html"><img class="account-img" src="img/account.png"></a> -->
          <form action="/bag" method="get">
            <button type="submit" style="position: absolute;left: 63.7em;top: 1.3em;border: none;background-color: rgb(228, 219, 207);"><img class="bag-img" src="img/shopping-bag.png" ></button>
            <p style="position: absolute;left: 64em;top: 3em;">Bag</p>
          </form>
          <!-- <li><a class="navbar-items" href="bag.html">bag</a></li>
          <a href="bag.html"><img class="bag-img" src="img/shopping-bag.png" ></a> -->
          <form action="/whislist" method="get">
            <button type="submit" style="position: absolute;left: 68.5em;top: 1.3em;border:none;background-color: rgb(228, 219, 207);"><img class="whislist-img" src="img/wishlist.png"></button>
            <p style="position: absolute;left: 68em;top: 3em;">wishlist</p>
          </form>
          <!-- <li><a class="navbar-items" href="whislist.html">whislist</a></li>
          <a href="whislist.html"><img class="whislist-img" src="img/wishlist.png"></a> -->
          <form action="/register" method="get">
            <button type="submit" style="width:fit-content;position:absolute;left: 74em;top: 1.3em;right:2em;border:none;background-color: rgb(228, 219, 207);"><img class="signup-img" src="img/signup.png"></button>
            <p style="position: absolute;left: 73em;top: 3em;">Signup</p>
          </form>
          <!-- <li><a class="navbar-items" href="signup.html">SignUp</a></li>
          <a href="signup.html"><img class="signup-img" src="img/signup.png"></a> -->
          <form action="/login" method="get">
            <button type="submit" style="position: absolute;left: 79.5em;top: 1.3em;border:none;background-color: rgb(228, 219, 207);"><img class="login-img" src="img/login.png"></button>
            <p style="position: absolute;left: 79em;top: 3em;">Login</p>
          </form>
          <!-- <li><a class="navbar-items" href="login.html">LogIn</a></li>
          <a href="login.html"><img class="login-img" src="img/login.png"></a> -->
        </ul>
      </div>
    </section>

    <section class="kidsheader">
      <h4 style="text-align: center; margin-top: 2em; font-weight: 400;"  class="fontfamily">Kid's Clothings</h4>
      <div id="women-1" class="padder" style="display: flex;">
        <img class="padder hov" src="https://sslimages.shoppersstop.com/sys-master/images/haa/h9c/28464905682974/A22JJB2220771GR_GREEN.jpg_230Wx334H" alt="" style="margin-left: 6em;">
        <img class="padder hov" src="https://sslimages.shoppersstop.com/sys-master/images/hb6/h54/28055593156638/A22OG15294490GR_GREY.jpg_230Wx334H" alt="" style="margin-left: -1em;">
        <img class="padder hov" src="https://assets.ajio.com/medias/sys_master/root/20220914/3GhE/6321cc70f997dd1f8dfe4a6b/-473Wx593H-464992884-green-MODEL.jpg" alt="" style="width:18em">
        <img class="padder hov" src="https://5.imimg.com/data5/SELLER/Default/2021/9/UK/MI/FM/90086993/5470837-183cf9dd-2a5b-45e8-bf02-2dfcd0d88c9c-1000x1000.png" alt="" style="width: 15em;">
      </div>

      <h4 style="text-align: center; font-weight: 400;" class="fontfamily">Best deals on top brands</h4>
      <div id=women-2 class="padder" style="display: flex;" >
        <img class="marginkid hov" src="https://sslimages.shoppersstop.com/sys-master/root/h2c/h1b/28910357184542/ethnic_3x3-Widgets_mnbvc09876.jpg" alt="">
        <img class="marginkid hov" src="https://sslimages.shoppersstop.com/sys-master/root/hb9/h95/28910358659102/ethnic_3x3-Widgets_47469bdbbdbjjqqqoeouu.jpg" alt="">
        <img class="marginkid hov" src="https://sslimages.shoppersstop.com/sys-master/root/h4f/h33/28910356987934/Tops-and-tees_3x3-Widgets_ugfc7536.jpg" alt="">
        <img class="marginkid hov" src="https://sslimages.shoppersstop.com/sys-master/root/hc3/h58/29284994646046/Winter-Ready3-2-2023nfjhgrughg.jpg" alt="">
      </div>

      <h4 style="text-align: center; font-weight: 400;" class="fontfamily">Most Loved Brands</h4>
      <div id=women-2 class="padder" style="display: flex;" >
        <img class="padder2 hov" src="https://sslimages.shoppersstop.com/sys-master/root/hf1/h77/29048164810782/puma---4-Widgets-Web--kids-page-new-chnage-off--2023-01-13.jpg" alt="" style="margin-left: -0.1em;">
        <img  class="padder2 hov" src="https://sslimages.shoppersstop.com/sys-master/root/hd2/h81/29048164548638/only---4-Widgets-Web---kids-page-new-chnage-off--2023-01-13.jpg" alt="">
        <img class="padder2 hov" src="https://sslimages.shoppersstop.com/sys-master/root/h32/h74/29048164941854/addidas--4-Widgets-Web--kids-page-new-chnage-off--2023-01-13.jpg" alt="">
        <img class="padder2 hov" src="https://sslimages.shoppersstop.com/sys-master/root/h62/h41/29255001276446/tiny-girl---4-Widgets-Web_inkhigalatdalahei.jpg" alt="">
        <img class="padder2 hov" src="https://sslimages.shoppersstop.com/sys-master/root/h44/h70/29203987660830/Mothercare-web---shop-more-brands-2023-01-27-kidsclp.jpg" alt="">
      </div>

      <!-- latest collection of uppers -->
      <div class="ptcard" style="display: flex; margin-top: 2em;">
        <div class="card" id="cardcat" style="width: 18rem; margin-left: 2em;">
          <img class="card-img-top hov" id="cardimg" src="https://img3.junaroad.com/uiproducts/19263330/zoom_0-1675140410.jpg" alt="Card image cap">
          <div class="card-body" style="height: 1em;">
            <p class="card-text" id="text_color2">₹ 799  ₹878  9% off</p>
             <p id="text_color1">By Us Polo Assn</p>
          </div>
        </div>
  
        <div class="card" id="cardcat" style="width: 18rem; margin-left:35px">
          <img class="card-img-top hov" id="cardimg" src="https://img3.junaroad.com/uiproducts/18218595/zoom_0-1642251532.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text" id="text_color2">₹ 799  ₹878  9% off</p>
             <p id="text_color1">By Us Polo Assn</p>
          </div>
        </div>
  
        <div class="card" id="cardcat" style="width: 18rem; margin-left:35px">
          <img class="card-img-top hov" id="cardimg" src="https://img3.junaroad.com/uiproducts/18526050/zoom_0-1663422336.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text" id="text_color2">₹ 799  ₹878  9% off</p>
             <p id="text_color1">By Us Polo Assn</p>
          </div>
        </div>
  
        <div class="card" id="cardcat" style="width: 18rem; margin-left:35px">
          <img class="card-img-top hov" id="cardimg" src="https://img3.junaroad.com/uiproducts/18391636/zoom_0-1654157183.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text" id="text_color2">₹ 799  ₹878  9% off</p>
             <p id="text_color1">By Us Polo Assn</p>
          </div>
        </div>
  
        
        <div class="card" id="cardcat" style="width: 18rem; margin-left:35px; margin-right: 20px;" >
          <img class="card-img-top hov" id="cardimg" src="https://img3.junaroad.com/uiproducts/18376121/zoom_0-1653017648.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text" id="text_color2">₹ 799  ₹878  9% off</p>
             <p id="text_color1">By Us Polo Assn</p>
          </div>
        </div>
  
      </div>
      <!-- end -->
  
      <!-- latest collection of lowers -->
      <div class="ptcard" style="display: flex; margin-top: 3em;">
        <div class="card" id="cardcat" style="width: 18rem; margin-left: 2em;">
          <img class="card-img-top hov" id="cardimg" src="https://img3.junaroad.com/uiproducts/19383061/zoom_0-1676700061.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text" id="text_color2">₹ 799  ₹878  9% off</p>
             <p id="text_color1">By Us Polo Assn</p>
          </div>
        </div>
  
        <div class="card" id="cardcat" style="width: 18rem; margin-left:35px;">
          <img class="card-img-top hov" id="cardimg" src="https://img3.junaroad.com/uiproducts/18633791/zoom_0-1667478665.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text" id="text_color2">₹ 799  ₹878  9% off</p>
             <p id="text_color1">By Us Polo Assn</p>
          </div>
        </div>
  
        <div class="card" id="cardcat" style="width: 18rem;margin-left:35px; ">
          <img class="card-img-top hov" id="cardimg" src="https://img3.junaroad.com/uiproducts/18182683/zoom_0-1640174758.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text" id="text_color2">₹ 799  ₹878  9% off</p>
             <p id="text_color1">By Us Polo Assn</p>
          </div>
        </div>
  
        <div class="card" id="cardcat" style="width: 18rem; margin-left:35px;">
          <img class="card-img-top hov" id="cardimg" src="https://img3.junaroad.com/uiproducts/19370920/zoom_0-1676606680.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text" id="text_color2">₹ 799  ₹878  9% off</p>
             <p id="text_color1">By Us Polo Assn</p>
          </div>
        </div>
  
        <div class="card" id="cardcat" style="width: 18rem; margin-left:35px; margin-right: 20px; ">
          <img class="card-img-top hov" id="cardimg" src="https://img3.junaroad.com/uiproducts/18227111/zoom_0-1642858576.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text" id="text_color2">₹ 799  ₹878  9% off</p>
             <p id="text_color1">By Us Polo Assn</p>
          </div>
        </div>
  
      </div>
      <!-- end -->

    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/809c7e4560.js" crossorigin="anonymous"></script>
</body>
</html>