<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="img/deal-logo.png" type="image/x-icon">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Deals-try</title>
  </head>
  <body>
  
   
    <section id="header">
      <a href="#" class="logo"> <h1 clss="logo"style="color:black;">DEALS-4U</h1></a>
      <div>
        <ul id="navbar">

          <form action="/base" method="get">
            <button type="submit" style="position: absolute;left: 47.5em;top: 1.3em;border:none;background-color: rgb(228, 219, 207);"><img class="login-img" src="img/deal-logo.png"></button>
            <p style="position: absolute;left: 47em;top: 3em;">Home</p>
          </form>

          <form action="/profile" method="get">
            <button type="submit" style="position: absolute;left: 52em;top: 1.3em;border:none;background-color: rgb(228, 219, 207);"><img class="profile-img" src="img/profile.png"></button>
            <p style="position: absolute;left: 52em;top: 3em;">Profile</p>
          </form>
          <!-- <li><a class="navbar-items active" href="index.html">Profile</a></li> -->
          <!-- <a href="index.html"><img class="profile-img" src="img/profile.png"></a> -->
          <form action="/account" method="get">
            <button type="submit" style="position: absolute;left: 59em; top: 1.3em;border:none;background-color: rgb(228, 219, 207);"><img class="account-img" src="img/account.png"></button>
            <p style="position: absolute;left: 58em;top: 3em;">Account</p>
          </form>
          <!-- <li><a class="navbar-items" href="account.html">Account</a></li>
          <a href="account.html"><img class="account-img" src="img/account.png"></a> -->
          <form action="/bag" method="get">
            <button type="submit" style="position: absolute;left: 64em;top: 1.3em;border: none;background-color: rgb(228, 219, 207);"><img class="bag-img" src="img/shopping-bag.png" ></button>
            <p style="position: absolute;left: 64em;top: 3em;">Bag</p>
          </form>
          <!-- <li><a class="navbar-items" href="bag.html">bag</a></li>
          <a href="bag.html"><img class="bag-img" src="img/shopping-bag.png" ></a> -->
          <form action="/whislist" method="get">
            <button type="submit" style="position: absolute;left: 69em;top: 1.3em;border:none;background-color: rgb(228, 219, 207);"><img class="whislist-img" src="img/wishlist.png"></button>
            <p style="position: absolute;left: 68em;top: 3em;">wishlist</p>
          </form>
          <!-- <li><a class="navbar-items" href="whislist.html">whislist</a></li>
          <a href="whislist.html"><img class="whislist-img" src="img/wishlist.png"></a> -->
          <form action="/register" method="get">
            <button type="submit" style="width:fit-content;position:absolute;left: 74em;top: 1.3em;right:2em;border:none;background-color: rgb(228, 219, 207);"><img class="signup-img" src="img/signup.png"></button>
            <p style="position: absolute;left: 73em;top: 3em;">Signup</p>
          </form>
          <!-- <li><a class="navbar-items" href="signup.html">SignUp</a></li>
          <a href="signup.html"><img class="signup-img" src="img/signup.png"></a> -->
          <form action="/login" method="get">
            <button type="submit" style="position: absolute;left: 79em;top: 1.3em;border:none;background-color: rgb(228, 219, 207);"><img class="login-img" src="img/login.png"></button>
            <p style="position: absolute;left: 79em;top: 3em;">Login</p>
          </form>
          <!-- <li><a class="navbar-items" href="login.html">LogIn</a></li>
          <a href="login.html"><img class="login-img" src="img/login.png"></a> -->
        </ul>
      </div>
    </section>
    <!--crousal  start-->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="background-color: rgb(244, 240, 240);">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="https://trends.ajio.com/s/30-to-60-percent-off-4974-48471" target="_blank"><img class="d-block w-100" src="https://sslimages.shoppersstop.com/sys-master/root/h89/hce/29734822871070/Top-Banner-Web-Menswear_mens_jack_and_jone_243535.jpg" alt="First slide" style="padding: 3em 4em;"></a>
          
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://sslimages.shoppersstop.com/sys-master/root/hcb/h8e/29664908279838/vacation-ready-web_vct240323.jpg" alt="Second slide" style="padding: 3em 4em;">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://assets.ajio.com/cms/TRENDS/WEB/Top_banner_carousel_banner-2.jpg" alt="Third slide" style="padding: 3em 4em;">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!-- crousal ends -->
    <section class="mensheader">
      <h2 style="text-align: center; margin-top: 2em; font-weight: 500;" class="fontfamily">Men's Clothings</h2>
      <div id="men-1" class="padder" style="display: flex;">
        <a href="https://trends.ajio.com/s/30-to-60-percent-off-4974-48471" target="_blank"> <img class="padder hov" src="https://sslimages.shoppersstop.com/sys-master/images/h80/hbd/28350278008862/AW22JJ201184801_GREEN.jpg_230Wx334H" alt="" style="margin-left: 6em;"></a>
       
        <a href="https://trends.ajio.com/s/min-60-percent-off-4977-50202" target="_blank"><img class="padder hov" src="https://sslimages.shoppersstop.com/sys-master/images/h75/h09/28149713240094/INF-89_STONE.jpg_230Wx334H" alt=""></a>
        
        <a href="https://trends.ajio.com/s/starting-at-rs-399-4707-52083" target="_blank"><img class="padder hov" src="https://sslimages.shoppersstop.com/sys-master/images/h43/h89/26509798834206/A21MSHCT1019RL_BLACK.jpg_230Wx334H" alt=""></a>

        <a href="https://trends.ajio.com/s/starting-at-rs-399-4707-52084" target="_blank"><img class="padder hov" src="https://sslimages.shoppersstop.com/sys-master/images/hb4/he0/28365292109854/A22DONALDSSIPBL_BLUE.jpg_230Wx334H" alt=""></a>
        
      </div>

      <h2 style="text-align: center; font-weight: 500;" class="fontfamily">Most Loved Brands</h2>
      <div id=men-2 class="padder" style="display: flex;" >
        <img class="padder2 hov" src="https://sslimages.shoppersstop.com/sys-master/root/hb5/h96/29295056781342/4-Widgets-Web-LP-VH6-2-2023hkjy985689ukmk.jpg" alt="" style="margin-left: -0.3em;">
        <img  class="padder2 hov" src="https://sslimages.shoppersstop.com/sys-master/root/hee/ha1/29285009948702/4-Widgets-Web-Adidas%2C-VH-FLex_i7u6y5t4wfyty.jpg" alt="">
        <img class="padder2 hov" src="https://sslimages.shoppersstop.com/sys-master/root/hf3/h95/29295056715806/4-Widgets-Web-Lee-Wrangler6-2-2023mkrjoi586u50jt.jpg" alt="">
        <img class="padder2 hov" src="https://sslimages.shoppersstop.com/sys-master/root/ha1/hcb/29285001003038/4-Widgets-Web-celio-RR_jbydtxbfiuksydjf.jpg" alt="">
        <img class="padder2 hov" src="https://sslimages.shoppersstop.com/sys-master/root/h2f/h9e/29285009817630/4-Widgets-Web-UCB%2C-FCUK_uyhcw87ei547i876.jpg" alt="">
      </div>

      <!-- latest collection of uppers -->
      <div class="ptcard" style="display: flex; margin-top: 2em; ">
      <div class="card" id="cardcat  carddec" style="width: 16rem;margin-left: 2em;">
        <img class="card-img-top hov" id="cardimg" src="https://img3.junaroad.com/uiproducts/19081959/zoom_0-1672323520.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text" id="text_color2">₹ 990   50% off</p>
           <p id="text_color1">By Jean Cafe</p>
        </div>
      </div>

      <div class="card" id="cardcat" style="width: 16rem; margin-left: 1.5em;">
        <img class="card-img-top hov" id="cardimg" src="https://img3.junaroad.com/uiproducts/15141521/zoom_0-1526551581.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text" id="text_color2">₹ 651  33% off</p>
           <p id="text_color1">By Us Polo Assn</p>
        </div>
      </div>

      <div class="card" id="cardcat" style="width: 16rem;margin-left: 1.5em;">
        <img class="card-img-top hov" id="cardimg" src="https://img3.junaroad.com/uiproducts/12850197/zoom_0-1485266455.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text" id="text_color2">₹ 799   31% off</p>
           <p id="text_color1">By HARBOR N BAY</p>
        </div>
      </div>

      <div class="card" id="cardcat" style="width: 16rem;margin-left: 1.5em;">
        <img class="card-img-top hov" id="cardimg" src="https://img3.junaroad.com/uiproducts/16445115/zoom_0-1563876466.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text" id="text_color2">  ₹878  43% off</p>
           <p id="text_color1">By Us Polo Assn</p>
        </div>
      </div>

      
      <div class="card" id="cardcat" style="width: 16rem;margin-left: 1.5em;margin-right: 2em;">
        <img class="card-img-top hov" id="cardimg" src="https://img3.junaroad.com/uiproducts/19111936/zoom_0-1672591919.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text" id="text_color2"> ₹699  28% off</p>
           <p id="text_color1">By Gritstones</p>
        </div>
      </div>

    </div>
    <!-- end -->

    <!-- latest collection of lowers -->
    <div class="ptcard" style="display: flex; margin-top: 3em;">

      <div class="card" id="cardcat" style="width: 16rem;margin-left: 2em;">
        <img class="card-img-top hov" id="cardimg" src="https://img3.junaroad.com/uiproducts/17951639/zoom_0-1629895564.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text" id="text_color2">₹ 1099  27% off</p>
           <p id="text_color1">By Canary London</p>
        </div>
      </div>

      <div class="card" id="cardcat" style="width: 16rem; margin-left:1.5em;">
        <img class="card-img-top hov" id="cardimg" src="https://img3.junaroad.com/uiproducts/18616298/zoom_0-1666849472.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text" id="text_color2">₹ 999  ₹878  13% off</p>
           <p id="text_color1">By Red Chief</p>
        </div>
      </div>

      <div class="card" id="cardcat" style="width: 16rem; margin-left:1.5em;">
        <img class="card-img-top hov" id="cardimg" src="https://img3.junaroad.com/uiproducts/18870220/zoom_0-1671024322.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text" id="text_color2">₹878  45% off</p>
           <p id="text_color1">By Canary London</p>
        </div>
      </div>

      <div class="card" id="cardcat" style="width: 16rem; margin-left: 1.5em;">
        <img class="card-img-top hov" id="cardimg" src="https://img3.junaroad.com/uiproducts/19086902/zoom_0-1672840818.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text" id="text_color2">₹ 709  21% off</p>
           <p id="text_color1">By Red Chief</p>
        </div>
      </div>

      <div class="card" id="cardcat" style="width: 16rem; margin-left: 1.5em;margin-right: 2em;">
        <img class="card-img-top hov" id="cardimg" src="https://img3.junaroad.com/uiproducts/19258317/zoom_0-1674835793.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text" id="text_color2">₹ 899 19% off</p>
           <p id="text_color1">By Us Polo Assn</p>
        </div>
      </div>

    </div>
    <!-- end -->
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/809c7e4560.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>