*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
#carddec:hover{
  transition: 0.6s;
  box-shadow: 10px 10px 30px rgb(217, 194, 194);
}
#text_color1{
  color: rgb(67, 235, 67);
}
#text_color2{
  color: black;
}

#cardcat{
  margin-left: 3em;
  /* padding-left: 2em; */
}
#cardimg{
  height: 20em;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
.crheight{
  height: 20em;
  margin: 3em 8em 3em 7em;
}
.bg{
  background-color: rgb(226, 221, 215);
}
.padder{
  margin: 1em 1.5em;
  width: 15em;
}
.padder2{
  margin:1em 1em ;
  width: 15em;
}
.marginkid{
  height: 19em;
  margin: 2em 1em;
}
.padder3{
  width: 17em;
  margin: 1em 2em;
}
.padder4{
  margin: -1em 1em;
  height: 25em;
}
.padder5{
  height: 20em;
  margin: 1em 0.8em;
}
.padder6{
  width: 16em;
  margin: 1em 0.2em;
}
.fontfamily{
  font-family: cursive;
}
.section-p1{
  padding: 40px 88px;
}
.logo{
  font-family: 'Brush Script MT', cursive;
}
#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  padding: 25px 30px;
  background-color: rgb(228, 219, 207);
  position: sticky;
  z-index: 999;
  top: 0;
  left: 0;
}
#header a{
  text-decoration: none;
}

/* section-2 navbar */
.profile-img{
  height: 1.7em;
  /* position: absolute;
  left: 52.5em;
  top: 1.3em; */
}
.account-img{
  height: 1.7em;
  /* position: absolute;
  left: 58.3em;
  top: 1.3em; */
}
.bag-img{
  height: 1.7em;
  /* position: absolute;
  left: 63.7em;
  top: 1.3em; */
}
.whislist-img{
  height: 1.7em;
  /* position: absolute;
  left: 68.5em;
  top: 1.3em; */
}
.signup-img{
  height: 1.7em;
  /* position: absolute;
  left: 74em;
  top: 1.3em;
  right: 2em; */
}

.login-img{
  height: 1.7em;
  /* position: absolute;
  left: 79.5em;
  top: 1.3em; */
} 
#navbar li{
  list-style: none;
  font-weight: 500;
  padding: 0px 20px;
}
#navbar a{
  text-decoration: none;
  color: black;
}
#navbar li  a:hover,#navbar li  a.active{
  color: rgb(0, 241, 161);
}
#fill{
  height: 30em;
  background-position: center;
}
.navbar-items{
  position: relative;
  left: 15em;
}
/* section-4 get free */
#feature{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 30px;
}
#feature .febox img{
  height: 160px;
}
#feature .febox {
  width: 260px;
  margin: 0px 30px;
  padding: 20px 15px;
  text-align: center;
  border: 4px solid rgb(205, 195, 195);
  border-radius: 12px;
}
.hov:hover{
  transition: 0.6s;
  box-shadow: 10px 10px 30px rgb(124, 121, 121);
  cursor: pointer;
}
#feature .febox h6{
  padding: 13px 0px 13px 0px;
  margin: 5px 0px 3px 0px ;
  background-color:rgb(167, 207, 193);
  color: white;
}
#feature .febox:hover{
  transition: 0.6s;
  box-shadow: 10px 10px 30px rgb(220, 211, 211);
}
#feature .febox h6:hover{
  background-color:rgb(0, 241, 161);
  transition: 0.6s;
}

/* section-3 for products */
.shopnow,.shopnow1{
  text-align: center;
  color: black;
  opacity: 0.7;
}
.shopnow1{
  padding-top: 8px;
  opacity: 0.8;
}
.shopnow:hover,.shopnow1:hover{
  color:rgb(0, 241, 161);
}
#star{
  height: 2em;
  position: absolute;
  top: 61em;
  left: 50em;
}

/* sign up section */
.sign{
  display: flex;
  height: 100%;
}
.sign .cont1{
  height: 100%;

}

.sign .cont2{
  width: 50%;
  height: 100%;
}
.cont2 h1{
  text-align: center;
  padding-top: 1em;
}

#formtext,#formemail,#formpassword,#formphno{
  padding: 0.3em 0.4em;
  border-radius: 0.4em;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: rgb(216, 243, 234);
  color: white;
  width: 15em;
  position: relative;
  left: 9em;
  color:black;
}
::placeholder {
  color:rgb(26, 25, 25);
  opacity: 1;
}
#btnsignup{
  position: relative;
  width: 10em;
  height: 2.3em;
  top: 1.3em;
  left: 10.7em;
  background-color:rgb(0, 241, 161);
  color: white;
  font-weight: 600;
  border-radius: 2em;
}
#btnsignup:hover{
  transition: 0.6s;
  color: rgb(40, 39, 39);
  background-color:rgb(216, 243, 234);
}
.loged{
  position: relative;
  left: 9.5em;
  color: black;
} 
.sign .cont1{
  background-image: url("img/signup-img.png");
  background-repeat:no-repeat;
  overflow-y: hidden;
  width: 40em;
  height:42em;
  background-color:rgb(171, 224, 206);
  color: black;
  text-align: center;
  padding-top: 13em;
  color:rgb(48, 47, 47);
}
.inside{
  position: relative;
  top: 12em;
}
.welcome{
  color:rgb(2, 156, 156);
}
.mdxnup,.mdxndn{
  color: rgb(0, 241, 161);
  
}
/* section-5 category list */
#category{
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin-top: 6em;
}
#category li{
  list-style: none;
  font-weight: 500;
  padding-right: 7em;
  color: black;
}
li .shoplist-item{
  color: black;
}
#navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2em;
  margin-right: 16.5em;
}
#cate-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2em;
  margin-right: 16.5em;
}
.men-img,.women-img,.kid-img,.sports-img,.foot-img,.acce-img,.electro-img{
  height: 2.5em;
}

.men-img{
  height: 2.5em;
}
/* .women-img{
  
} */
/* .kid-img{
  
} */
.sports-img{
  width: 3.5em;
}
.foot-img{
  width: 3em;
}
.acce-img{
  width: 3.5em;
}
/* .electro-img{
  
} */
.shoplist-item{
  font-size: 0.8em;
}

#category li a:hover{
  color:rgb(0, 241, 161);
}

/* section-6 login page */
.headlog{
  position: relative;
  left: 9em;
  font-weight: 500;
}
.forgpass{
  position: relative;
  left: 24em;
  top: 1em;
  font-size: 0.75em;
}
#loginmain,#signupmain{
  overflow: hidden;
}

/* section-8 new arrivals */
.arrivals h2{
  position: relative;
  top: -0.8em;
}

.routesign{
  border: none;
  position: relative;
  left: 15em;
}
.center{
  text-align: center;
  margin-top: 4em;
}
/* footer */
.khatam{
  width: 100%;
  height: 200px;
  background-color: beige;

}
.flexing{
  display: flex;
  justify-content: space-around;
}
 li{
  text-decoration: none;
  list-style-type: none;
  color: black;
}
.table{
  margin-top: 50px;
  padding: 50px;
}
.company{
  margin-left: 650px;
  color: black;
}
